body {
  color:

}

.topic-title {
  padding: 3rem 1.5rem;
  text-align: center;

}

.dessert_places img {
  border-radius: 50%;
  
  }



  .img-container {
    float: left;
    width: 33.33%;
    padding: 5px;

  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
